.popup-inner#popup
  .container-fluid
    .row
      %h2.image-crop-title= t('edit-profile-picture')
      %span.btn-close.glyphicon.glyphicon-remove{'aria-hidden' => true}
  .text-center
    %p= t('crop-message')
    .flexbox.flex-center
      =image_tag current_user.avatar.url(:preview), :class => 'img-responsive', :id => 'cropbox'
  =form_for current_user do |f|
    -for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
      = f.hidden_field attribute, :id => attribute
    = f.submit t('save'), :class => "btn btn-default"

%script
  :plain
    $('#cropbox').Jcrop({
      aspectRatio: 1,
      onChange: update_crop,
      onSelect: update_crop
    });

    function update_crop(coords) {
      var ratio = #{current_user.avatar_geometry(:original).width / current_user.avatar_geometry(:preview).width}
      $('#crop_x').val(Math.round(coords.x * ratio));
      $('#crop_y').val(Math.round(coords.y * ratio));
      $('#crop_h').val(Math.round(coords.h * ratio));
      $('#crop_w').val(Math.round(coords.w * ratio));
      console.log(ratio);
    }
