.mdl-card.mdl-shadow--16dp.mdl-card-lg-stretch
  .mdl-card__title
    .mdl-card__title-text= t('users.edit-profile-picture')
  .mdl-card__supporting-text
    %p= t('pictures.crop-message')
  .mdl-card__media
    .flexbox.flex-center{:style => 'padding-bottom: 16px'}
      =image_tag current_user.avatar.url(:preview), :class => 'img-responsive', :id => 'cropbox'
  .mdl-card__actions.mdl-card--border
    =form_for current_user do |f|
      -for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
        = f.hidden_field attribute, :id => attribute
      = f.submit t('save'), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'

%script
  :plain
    $('#cropbox').Jcrop({
      aspectRatio: 1,
      onChange: update_crop,
      onSelect: update_crop
    });

    function update_crop(coords) {
      var ratio = #{current_user.avatar_geometry(:original).width / current_user.avatar_geometry(:preview).width}
      $('#crop_x').val(Math.round(coords.x * ratio));
      $('#crop_y').val(Math.round(coords.y * ratio));
      $('#crop_h').val(Math.round(coords.h * ratio));
      $('#crop_w').val(Math.round(coords.w * ratio));
      console.log(ratio);
    }
