-title(t('about.about'))
=render('layouts/header')
.container-fluid
  .row
    .intro-card
      %h2.underline.text-center= t('about.about')
      %h3= t('about.what')
      %p
        =t('about.what-text')
        =t('about.deployed-to')
      %h3= t('about.why')
      %p= t('about.why-text')
      %h3= t('about.how')
      %p= t('about.how-text')
  .row
    .intro-card.text-center
      %h2= t('copyrights')
      %p
        %span Icons made by
        %a{:href => "http://www.freepik.com", :title => "Freepik"} Freepik
        %span from
        %a{:href => "http://www.flaticon.com",:title => "Flaticon"} www.flaticon.com
        %span is licensed by
        %a{:href => "http://creativecommons.org/licenses/by/3.0/", :title => "Creative Commons BY 3.0"}CC BY 3.0
=render('layouts/footer')