-title(t('viktor-danilov'))
.dukeimg-background
  - rand(50...100).times do |n|
    -animation_time = rand(3...20)
    %img{:class => "triangle tri#{n}",
    :src => "https://dl.dropboxusercontent.com/u/100656262/triangle.png",
    :style => "top: #{rand(10...100)}%; left: #{rand(100)}%; animation: fly-triangle #{animation_time}s infinite linear, triangle-opacity #{animation_time}s infinite linear;"}
.dukeimg.flexbox.flex-center
  .mdl-card
    .mdl-card__title.dukeimg-avatar
      %h2.mdl-card__title-text= t('viktor-danilov')
    .mdl-grid
      .mdl-cell.mdl-cell--2-col
        %i.material-icons email
      .mdl-cell.mdl-cell--10-col
        %p
          %a{:href => 'mailto:duke.img@gmail.com'} duke.img@gmail.com
      .mdl-cell.mdl-cell--2-col
        =icon('github', class: 'fa-fw')
      .mdl-cell.mdl-cell--10-col
        %p
          %a{:href => 'https://github.com/dukeimg'} GitHub
      .mdl-cell.mdl-cell--2-col
        =icon('linkedin', class: 'fa-fw')
      .mdl-cell.mdl-cell--10-col
        %p
          %a{:href => 'https://www.linkedin.com/in/dukeimg'} LinkedIn
      .mdl-cell.mdl-cell--2-col
        =icon('vk', class: 'fa-fw')
      .mdl-cell.mdl-cell--10-col
        %p
          %a{:href => 'https://vk.com/dukeimg'} VK