.container-fullscreen.flexbox.flex-center
  =render('layouts/header_absolute')
  %a.btn-back.flexbox.flex-center{:href => root_path}
    .glyphicon.glyphicon-menu-left
    %div= t('back')
  .container
    .row
      .col-sm-4.col-sm-offset-4
        %h1.logo.text-center= t('Filmer')
        //nav tabs
        %ul.nav.nav-tabs{ :role => 'tablist', :style => 'margin-top: 20px'}
          %li.active{ :role => 'presentation'}
            %a{ :href => '#login', 'aria-controls' => 'login', :role => 'tab', 'data-toggle' => 'tab'}= t('sign-in')
          %li{ :role => 'presentation'}
            %a{ :href => '#register', 'aria-controls' => 'register', :role => 'tab', 'data-toggle' => 'tab'}= t('sign-up')
        //tab panels
        .tab-content
          .tab-pane.active#login{ :role => 'tabpanel'}
            %h1= t('sign-in')
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-group
                = f.label :username
                = f.text_field :username, autofocus: true, :placeholder => t("username"), :class => "form-control"
              .form-group
                = f.label :password
                = f.password_field :password, :placeholder => t("password"), :class => "form-control"
                .text-right
                  = render "devise/shared/links"
              = f.submit t("sign-in"), :class => "btn btn-default"
          .tab-pane#register{ :role => 'tabpanel'}
            %h2.text-center= t('sign-up')
            .flexbox.flex-center{:style => 'height: 216px'}
              %a.btn.btn-squared.btn-default.flexbox.flex-center{ :href => new_registration_path(resource_name)}= t('be-number')+(User.count+1).to_s
=render('layouts/footer')