.container
  .row
    %h1.text-center= t('suggestions')
    #suggestions
      -@suggestions.each do |s|
        .suggestion
          =image_tag s.avatar, :class => 'avatar'
          %b #{s.name}
          %small @#{s.username}
          %p= s.content
  .row
    =form_for @suggestion, remote: true do |f|
      .col-sm-12
        .form-group
          %label.control-label{:for => 'name'}= t('your-suggestion')
          = f.text_area :content, :placeholder => t("suggestion-example"), :class => "form-control"
      .row.container-margin
        .col-sm-2.col-sm-offset-10
          = f.submit t("send"), :class => "btn btn-default"