!!! 5
%html
  %head
    %title= yield(:title)
    %link{ :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    = csrf_meta_tags
    = favicon_link_tag
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{ :charset => "utf-8"}

  %body
    = yield