!!! 5
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{ :charset => "utf-8"}

  %body
    %header.navbar.navbar-default.landing
      .container-fluid
        .navbar-header
          %a.navbar-brand{ :href => "#"}
            .logo-brand= t('Filmer')
        %nav.collapse.navbar-collapse
          %ul.nav.navbar-nav
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ :href => new_user_session_path}= t('users.sign-in')
    = yield
    =render('layouts/footer')