!!! 5
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{ :charset => "utf-8"}

  %body
    =render('layouts/header_landing')
    = yield
    =render('layouts/footer')